[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jwt = "*"
python-decouple = "*"
install = "*"
motor = "*"
python-jose = "*"
python-multipart = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.11"
